:root {
  --color-light: #fff;
  --color-dark: #1B1B1B;
  --color-dark-button: #121212;
  --color-gray: #B5B1B1;

  --font-family-base: "TTTravels", sans-serif;
  --font-family-title: "Ghosthey", sans-serif;

  --container-width: 1356px;
  --container-padding-x: 20px;

  --section-padding-y: 180px;

  --transition-duration: 0.4s;

  --adaptive-unit: calc(1vw + 1vh);
}